<!--Gathered from bootstrap and Youtube from youtube.com/rakibtg-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chat Room</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
      div.msgbbl {
        background-color: #ddd;
        padding: 5px 10px;
        border-radius: 10px;
        color: #555;
        margin-bottom: 5px;
      }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <h1>Welcome to the Chat Room!</h1>

    <div class="container-fluid">
      <div class="well text-center">
        <h5> Chat application </h5>
      </div>
      <div class="col-sm-8">
        <div id="nomsg">
          <h3> No message yet! </h3>
          <div class="msg-wrapper"></div>
        </div>
      </div>
        <div class="col-sm-4">
          <form action="" method="POST">
            <b>Type your message below</b>
            <hr>
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="username form-control" id="exampleInputEmail1" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Message</label>
            <input type="text" class="message form-control" id="exampleInputPassword1" placeholder="Message">
          </div>
          <button type="submit" class="btn btn-success">Send</button>
        </form>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port)
    socket.on('connect', function() {
      socket.emit('test', {
        data: "User connected"
      })
    var form =$('form').on('submit', function(e){
      e.preventDefault()
      var user_name = $('input.username').val()
      var message = $('input.message').val()
      socket.emit('test', {
        user:user_name,
        msg: message
      })
      $('input.message').val('').focus()
    })
  })

  socket.on('my response',function(msg) {
    if(typeof msg.user !== 'undefined') {
      $('h1').remove()
      $('h3').remove()
      $('div.msg-wrapper').append('<div class="msgbbl"><b>' +msg.user+'</b> ' + msg.msg + '</div>')
    }
    console.log(msg)
  })
  </script>
</body>
</html>
