{% extends "base.html" %}
{% block body %}
<div class="university-container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4>Universities</h4>
            </div>
            {% if object_list %}
                {% for university in object_list %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                      {% if university.uniLogo %}
                        <a href="{% url 'detail' university.id %}">
                            <img src="{{ university.uniLogo}}" class="img-responsive">
                        </a>
                        {% else %}
                          <h3>No image to display</h3>
                        {% endif %}
                        <div class="caption">
                            <h3>{{ university.uniName }}</h3>
                            <h4>{{ university.uniLoca }}</h4>
                            <a href="{% url 'detail' university.id %}" class="btn btn-primary btn-sm" role="button">View Organizations</a>
                            <form action="#" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="university_id" value="{{ university.id }}" />
                            </form>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-med-12">
                <br>
                <a href="{% url "university-add" %}">
                    <button type="button" class="btn-success">
                        Add a University
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}﻿
