{% extends "base.html" %}


{% block body %}
<div class="container-fluid club-container">
    <div class="row">

        <div class="col-sm-8 col-md-9">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="#">View All</a></li>
                <li role="presentation"><a href="#">Add New Club</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>All Clubs</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Club Name</th>
                            <th>Club Logo</th>
                            <th>Club Category</th>
                            <th>Club Founder</th>
                        </tr>
                        </thead>
                        {% for org in test.org_set.all %}
                        <tr>
                            <td>{{ org.orgName }}</td>
                            <td>{{ org.orgLogo }}</td>
                            <td>{{ org.orgCateg }}</td>
                            <td>{{ org.orgFoun }}</td>
                        </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}﻿
