<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
<body>
  <div class="container-fluid">
  <nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" rel="home" href="/" title="OCS">
           <img style="max-width:175px; margin-top: -15px;"
                src="{% static "ocs_logo.png" %}">
       </a>
  </div>
      <ul class="nav navbar-nav navbar-nav">
        <li><a href="#">All Organizations</a></li>
        <li><a href="/">All Universities</a></li>
     </ul>
     <form class="navbar-form navbar-left" role="search" method="get" action="#">
       <div class="form-group">
       <input type="text" class="form-control" name="query" value="">
     </div>
     </form>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="/logout/">Logout {{ user.username }}</a></li>
        <li><a href="{% url "croom" %}">Chat Room</a></li>
        <li><a href="{% url "vote" %}">Vote Here</a></li>
        <li><a href="{% url "university-add" %}">Add University</a></li>
        <li><a href="#">Add Organization</a></li>
        {% else %}
        <li><a href="/login/">Log In</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
    </div>
{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
      <h4 class="text-center">Register</h4>
      <form class="callout text-center">
      <div class="floated-label-wrapper">
        <label for="full-name">Full name</label>
        <input type="text" id="full-name" name="full name input" placeholder="Full name">
      </div>
      <div class="floated-label-wrapper">
        <label for="email">Email</label>
        <input type="email" id="email" name="email input" placeholder="Email">
      </div>
      <div class="floated-label-wrapper">
        <label for="pass">Password</label>
        <input type="password" id="pass" name="password input" placeholder="Password">
      </div>
      <input class="button expanded" type="submit" value="Sign up">
    </form>
  </div>
</div>
{% endblock %}
