{% extends "base.html" %}
{% block title %}Vote{% endblock %}
{% block content %}
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">{{ checked }}</label>
<div id='studentOrg'>
  <input type="checkbox" id="Mechanical Keyboard" value="Mechanical Keyboard" v-model="checkedNames">
  <label for="Mechanical KeyBoard">Mechanical Keyboard</label>
  <input type="checkbox" id="Docker" value="Docker" v-model="checkedNames">
  <label for="Docker">Docker</label>
  <input type="checkbox" id="ACM" value="ACM" v-model="checkedNames">
  <label for="ACM">ACM</label>
  <br>
  <span>Voted Orgs: {{ votedOrg }}</span>
</div>
